
.prifile-pic{
  width: 100px;
  height: 100px;
}

.article-img{
  width: 30px;
  height: 30px;
}
body{
  height: 100vh;
  overflow-x: hidden

}
.button{
  cursor: pointer;
}
#container {
  min-height: 100vh;
}

#main{
  overflow: auto;
  padding-bottom: 100px;
}

#footer{
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}


@media only screen and (min-width: 500px){
  .card-columns{
    column-count: 2;
  }
}
@media only screen and (min-width: 768px){
  .card-columns{
    column-count: 3;
  }
}


#imageEditSpace{
  height: 600px;
  width: 600px;
  position: relative;
  text-align:center;
  overflow: hidden;

}
#productImageView{
  height: 240px;
  width: 240px;
  position: relative;
  text-align:center;
}

#product_image_edit{
  position: absolute;
  margin: 0 auto;
  height: 100%;
  left: 0px;
  top: 0px;
}

.crop_frame{
  position: absolute;
  height: 40%;
  border: 5px solid rgba(250, 0, 0, .0);
  overflow: hidden;
}

#art_image_edit{
  height: 100%;
  position: absolute;
  margin: -0px 0px 0px 0px;
}
.flashMessage{
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0px;
  top: 0px;
}

.no-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.card-columns{
  orphans: 1 !important;
  widows:1 !important;
}
