.prifile-pic{
  width: 100px;
  height: 100px;
}

.article-img{
  width: 30px;
  height: 30px;
}
body{
  height: 100vh;
}
#container {
  min-height: 100vh;
}

#main{
  overflow: auto;
  padding-bottom: 100px;
}

#footer{
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}
#home_gallery{
  -webkit-column-width: 250px;
     -moz-column-width: 250px;
          column-width: 250px;
  margin: 5px !important;
}
@media (min-width: 1024px){
  #home_gallery{
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}
@media (min-width: 500px) and (max-width:1024px){
  #home_gallery{
    -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
  }
}
.card{
  display: inline-block;
}
