{% extends "layout.html" %}
{% load custom_templatetags_art %}
{% block title %} Contact {% endblock %}

{% block body %}
  <div class="row">
  <div class="row col-lg-8 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12   mt-5" >
      <!--Card-->
      <div class="card card-cascade ">
        <!--Card image-->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="{{ object.artwork_photo.url }}"
          alt="artwork">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body card-body-cascade" >
          <!--Category & Title-->
          <h4 class="card-title"><strong><a href="">{{ object.artwork_name }}</a></strong></h4>
          <!--Description-->
          <p class="card-text">{{object.artwork_description }}</p>
          <!--Card footer-->
          <div class="card-footer">
            <span class="float-left">
              <a class="" data-toggle="tooltip" data-placement="top" title="Add a commint"><img class="rounded-circle article-img"  src="{{ object.artist.user.userprofile.image.url }}"></a>
            </span>
            <span class="float-right" >
              <form id = "form-id"  >
                {% csrf_token %}
                <a class="like_button button"type="submit" onclick="like_button()" onload="heart_sign_color()" > <i id="heart_sign"class="fas fa-heart {%isLiked object.id user.id%}" ></i></a>
              </form>
            </span>
            <span class="float-right" >
              <p id="like_count"class= "mr-1">{{object.artwork_likes.count}}</p>
            </span>
            <span class="float-right" >
              <a class="" data-toggle="tooltip" data-placement="top" title="Add a commint"><i class="far fa-comments mr-3"></i></a>
            </span>

          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="row col-lg-4 col-md-12 col-sm-12">
    {% for product in product_list %}
    <div class="col-lg-12 col-md-6 col-sm-12 mt-5">
      <div class="card ">
        <a href="#"><img class="card-img-top" src="{{product.product_photo.url}}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{product.product_name}}</a>
          </h4>
          <h5>${{product.price}}</h5>
           <div id="collapsible_text"class="collapse-content">
          <!-- Text -->
          <p class="card-text collapse" id="collapseContent_{{product.id}}">{{product.description}}</p>
          <!-- Button -->
          <a class="btn info p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent_{{product.id}}" aria-expanded="false" aria-controls="collapseContent">Show description</a>
          </div>

        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

{% endblock %}

{% block javascript %}
<script>

function like_button(){
  $.ajax({
    type: 'POST',
    url: "{% url 'artDetail_page' object.pk %}",
    data: {
      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
    },
    success: LikePost,
    dataType: 'html'
  });
  function LikePost(data, jqXHR) {
    var data = $.parseJSON(data)
    if (data['liked']) {
      $('#heart_sign').addClass('text-danger')
      $('#like_count').text(data['like_count'])
    }
    else
    {
      $('#heart_sign').removeClass('text-danger')
      $('#like_count').text(data['like_count'])
    }
  };
};
</script>
{% endblock %}
