{% extends "layout.html" %}
{% load custom_templatetags_art %}
{% block title %} Contact {% endblock %}

{% block body %}
  <div class="row">
  <div class="row col-lg-8 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12   mt-5" >
      <!--Card-->
      <div class="card card-cascade ">
        <!--Card image-->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="{{ object.artwork_photo.url }}"
          alt="artwork">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body card-body-cascade" >
          <!--Category & Title-->
          <h4 class="card-title"><strong><a href="">{{ object.artwork_name }}</a></strong></h4>
          <!--Description-->
          <p class="card-text">{{object.artwork_description }}</p>
          <!--Card footer-->
          <div class="card-footer">
            <span class="float-left">
              <a class="" data-toggle="tooltip" data-placement="top" title="Add a commint"><img class="rounded-circle article-img"  src="{{ object.artist.user.userprofile.image.url }}"></a>
            </span>
            <span class="float-right" >
              <form id = "form-id"  >
                {% csrf_token %}
                <a class="like_button button"type="submit" onclick="like_button()" onload="heart_sign_color()" > <i id="heart_sign"class="fas fa-heart {%isLiked object.id user.id%}" ></i></a>
              </form>
            </span>
            <span class="float-right" >
              <p id="like_count"class= "mr-1">{{object.artwork_likes.count}}</p>
            </span>
            <span class="float-right" >
              <a class="" data-toggle="tooltip" data-placement="top" title="Add a commint"><i class="far fa-comments mr-3"></i></a>
            </span>

          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="row col-lg-4 col-md-12 col-sm-12">

    <div class="col-lg-12 col-md-6 col-sm-12 mt-5">
      <div class="card ">
        <a href="#"><img class="card-img-top" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MX0C2_AV3?wid=1144&hei=1144&fmt=jpeg&qlt=80&op_usm=0.5,0.5&.v=1566856981539" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Iphone 11 cover</a>
          </h4>
          <h5>$24.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-12 mt-5">
      <div class="card ">
        <a href="#"><img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1YjcPat.LL1JjSZFEq6AVmXXaO/TOP-QUALITY-Summer-Solid-Blank-T-Shirt-Short-Sleeve-Cotton-T-shirt-Women-2017-Fashion-Tshirt.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">T-shirt</a>
          </h4>
          <h5>$29.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-12 mt-5">
      <div class="card ">
        <a href="#"><img class="card-img-top" src="https://previews.123rf.com/images/magryt/magryt1705/magryt170500270/79012830-empty-frame-on-light-brick-wall-blank-space-poster-or-art-frame-waiting-to-be-filled-square-black-fr.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Art frame</a>
          </h4>
          <h5>$40.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}

{% block javascript %}
<script>
function like_button(){
  $.ajax({
    type: 'POST',
    url: "{% url 'artDetail_page' object.pk %}",
    data: {
      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
    },
    success: LikePost,
    dataType: 'html'
  });
  function LikePost(data, jqXHR) {
    var data = $.parseJSON(data)
    if (data['liked']) {
      $('#heart_sign').addClass('text-danger')
      $('#like_count').text(data['like_count'])
    }
    else
    {
      $('#heart_sign').removeClass('text-danger')
      $('#like_count').text(data['like_count'])
    }
  };
};
</script>
{% endblock %}
