{% extends "layout.html" %}
{% load custom_templatetags_art %}
{% block title %} {{ object.artwork_name }} {% endblock %}

{% block body %}
  <div class="row m-0">
  <div class="row col-lg-8 col-md-12 col-sm-12 m-0">
    <div class="col-lg-12 col-md-12 col-sm-12   mt-5" >
      <!--Card-->
      <div class="card card-cascade ">
        <!--Card image-->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="{{ object.artwork_photo.url }}"
          alt="artwork">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body card-body-cascade" >
          <!--Category & Title-->
          <h4 class="card-title"><strong><a href="">{{ object.artwork_name }}</a></strong></h4>
          <!--Description-->
          <p class="card-text">{{object.artwork_description }}</p>
          <!--Card footer-->
          <div class="card-footer">
            <span class="float-left">
              <a class="" data-toggle="tooltip" data-placement="top" title="Add a commint"><img class="rounded-circle article-img"  src="{{ object.artist.user.userprofile.image.url }}"></a>
            </span>
            <span class="float-right" >
              <form id = "form-id"  >
                {% csrf_token %}
                <a class="like_button button"type="submit" onclick="like_button()" onload="heart_sign_color()" > <i id="heart_sign"class="fas fa-heart {%isLiked object.id user.id%}" ></i></a>
              </form>
            </span>
            <span class="float-right" >
              <p id="like_count"class= "mr-1">{{object.artwork_likes.count}}</p>
            </span>
            <span class="float-right" >
              <a class="" data-toggle="tooltip" data-placement="top" title="Add a commint"><i class="far fa-comments mr-3"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row col-lg-4 col-md-12 col-sm-12 m-0">
    {% for design in designs %}
    <div class="col-lg-12 col-md-6 col-sm-12 mt-5">
      <div id="productCart"class="card" style="">
        <div id="productImageView" class=" mt-5 " >
          <img id="product_image_edit" src="{{design.product.product_photo.url}}"alt="art image is not loading error">
          <div id="crop_frame_{{design.id}}" style="position: absolute; border-radius: 2px; border: 5px solid rgba(250, 0, 0, .0);overflow: hidden; height: 40%;">
            <img id="art_image_view_small_{{design.id}}" style="height: 100%; position: absolute;  margin: -0px 0px 0px 0px;" class="art_image_edit" src="{{design.art.artwork_photo.url}}"alt="art image is not loading error">
          </div>
          <script>
            var schale = 0.4
            var coordinate_top = parseInt({{design.coordinate_top}})*schale
            var coordinate_left = parseInt({{design.coordinate_left}})*schale
            var height = {{design.height}}*schale
            var frame_coordinate_top = parseInt({{design.frame_coordinate_top}})*schale
            var frame_coordinate_left = parseInt({{design.frame_coordinate_left}})*schale
            var frame_height = {{design.frame_height}}*schale
            var frame_width = {{design.frame_width}}*schale
            var border_radius= {{design.frame_border_radius}}*schale
            /*sets the active design coordinate when the page loads for the first time*/
            $("#art_image_view_small_{{design.id}}").css({ top: coordinate_top, left: coordinate_left, height: height, transform: '{{design.rotation}}'});
            $("#crop_frame_{{design.id}}").css({ top: frame_coordinate_top, left: frame_coordinate_left, height: frame_height, width:frame_width, 'border-radius': border_radius});
          </script>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'productDetail_page' design.product.id object.id %}">{{design.product.product_name}}</a>
          </h4>
          <h5>${{design.product.price}}</h5>
          <div id="collapsible_text"class="collapse-content">
          <!-- Text -->
          <p class="card-text collapse" id="collapseContent_{{design.product.id}}">{{design.product.description}}</p>
          <!-- Button -->
          <a class="btn text-info p-0  collapsed" data-toggle="collapse" href="#collapseContent_{{design.product.id}}" aria-expanded="false" aria-controls="collapseContent">Show description</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

{% endblock %}

{% block javascript %}
<script>
function like_button(){
  $.ajax({
    type: 'POST',
    url: "{% url 'artDetail_page' object.pk %}",
    data: {
      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
    },
    success: LikePost,
    dataType: 'html'
  });
  function LikePost(data, jqXHR) {
    var data = $.parseJSON(data)
    if (data['liked']) {
      $('#heart_sign').addClass('text-danger')
      $('#like_count').text(data['like_count'])
    }
    else
    {
      $('#heart_sign').removeClass('text-danger')
      $('#like_count').text(data['like_count'])
    }
  };
};
</script>
{% endblock %}
