
{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load custom_templatetags_art %}
{% load static %}
{% block title %} Product {% endblock %}

{% block body %}
<div class="row no-container" >
  <div class="col-lg-8 col-md-12 col-sm-12 mt-5">

    <div class="" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border: solid .5px;">
      <div id="imageEditSpace" class="rounded" >
        <img id="product_image_edit" style="padding: 2px;" src="{{product.product_photo.url}}"alt="art image is not loading error">
        <div class="crop_frame">
          <img id="art_image_edit" style=""src="{{art.artwork_photo.url}}"alt="art image is not loading error">
        </div>
        <p  id="design_text" style=" position: absolute;  margin: 0px; white-space: pre-wrap; font-family: Lobster"; font-weight: normal>{{designs.0.designTextCoordinate.text}}</p>
      </div>

      <div class="row m-0 pl-4 pt-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% for design in designs %}
        <div class="card mb-3"
        onclick="productChoiceButton(
        '{{design.id}}',
        '{{design.product.product_photo.url}}',
        {% if design.user != None %}'enable'{% else %}'disable'{% endif %},
        '{% url 'productDetail_page' art.id product.id %}',
        '{{ csrf_token }}',
        '#productChoiceButton_{{design.id}}')">
        <div style=" position: relative; width: 90px; height: 94px;">
          <img id="productChoiceButton_{{design.id}}"class="productChoiceButton" src="{{design.product.product_photo.url}}"
          style=" height: 100%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); position: absolute; top:0px;left:0px;"></img>
          {% if design.user != None %}
          <a class="" style="position: absolute; top:-15px;left:66px; " data-toggle="tooltip" data-placement="top" ><img class="rounded-circle" style="width: 18px;" src="{{ user.userprofile.image.url }}"></a>

          <a class="" onclick="deleteProductDesign('{% url 'productDetail_page' art.id product.id %}','{{ csrf_token }}', {{design.id}})"
          style=" cursor: pointer; position: absolute; top:78px;left:68px; " data-toggle="tooltip" data-placement="top" title="Add a commint">
          <img class="rounded-circle" style="width: 18px;" src="{% static '../media/Icons/delete.jpg'%}"></a>

          {%endif%}
          <div id="crop_frame_{{design.id}}"  style="position: absolute;overflow: hidden; height: 15%; border: 0.75px solid rgba(250, 0, 0, .0);">
            <img id="art_image_view_small_{{design.id}}"
            style="height: 100%; position: absolute;  margin: -0px 0px 0px 0px;"
            class="art_image_edit" src="{{design.art.artwork_photo.url}}"alt="art image is not loading error">
          </div>
          <p  id="design_text_{{design.id}}" style=" position: absolute;  margin: 0px; white-space: pre-wrap; font-family: Lobster"; font-weight: normal>{{design.designTextCoordinate.text}}</p>

          <script>
          var schale = 0.15
          var coordinate_top = parseInt({{design.designArtCoordinate.coordinate_top}})*schale
          var coordinate_left = parseInt({{design.designArtCoordinate.coordinate_left}})*schale
          var height = {{design.designArtCoordinate.height}}*schale

          var frame_coordinate_top = parseInt({{design.designArtFrameCoordinate.frame_coordinate_top}})*schale
          var frame_coordinate_left = parseInt({{design.designArtFrameCoordinate.frame_coordinate_left}})*schale
          var frame_height = {{design.designArtFrameCoordinate.frame_height}}*schale
          var frame_width = {{design.designArtFrameCoordinate.frame_width}}*schale
          var border_radius= {{design.designArtFrameCoordinate.frame_border_radius}}*schale

          var text_top = {{design.designTextCoordinate.coordinate_top}}*schale
          var text_left ={{design.designTextCoordinate.coordinate_left}}*schale
          var font_size = {{design.designTextCoordinate.font_size}}*schale
          var font_weight ={{design.designTextCoordinate.font_weight}}*schale
          /*sets the active design coordinate when the page loads for the first time*/
          $("#art_image_view_small_{{design.id}}").css({ top: coordinate_top, left: coordinate_left, height: height, transform: '{{design.rotation}}'});
          $("#crop_frame_{{design.id}}").css({ top: frame_coordinate_top, left: frame_coordinate_left, height: frame_height, width:frame_width, 'border-radius': border_radius});
          $( "#design_text_{{design.id}}").css({top:text_top,left:text_left,
            'font-family':'{{design.designTextCoordinate.font}}','font-weight':font_weight+'px',
            'font-style':'{{design.designTextCoordinate.font_style}}','color':'{{design.designTextCoordinate.font_color}}',
            'font-size':font_size+'px'})
            </script>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class=" mt-3 ml-4">
        <button class="btn btn-success mb-2" id="save_button"onclick="saveDesignCoordinate('{% url 'productDetail_page' art.id product.id %}','{{ csrf_token }}','#art_image_edit','.crop_frame','#design_text',confirmationMessage='true', '#design_text_','#art_image_view_small_','#crop_frame_')">Save Design</button>
        {% if user.is_authenticated %}
        <form  action="{% url 'productDetail_page' art.pk product.pk %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-outline-primary mb-2" type="submit" name="add_design" value="add_design"value="add_design">Make a custom design</button>
        </form>
        {% else %}
        <p class="h4">You must be logged in to create a custom design</p>
        {% endif %}

      </div>
      {% if designs %}
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{product.product_name}}</a>
          {% if designs.count >= 1 %}
          <button id="addToCart" class="btn btn-success" onclick="addToCart({% if user.is_authenticated %}true{% else %}false{% endif %})">Add to Cart</button>
          {% endif %}
        </h4>
        <h5 id = "price">€{%addFloat product.price art.artwork_price%}</h5>
        <div class="pb-5" id="collapsible_text"class="collapse-content">
          <!-- Text -->
          <p class="card-text" id="collapseContent_{{product.id}}">{{product.description}}</p>
          <!-- Button -->
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% if designs %}
  <div class="col-lg-4 col-md-12 col-sm-12 m-0 mt-4 px-5" id="art_image_edit_controller_space">
    <p class="h4 mt-2 mb-0">-------Artwork-------</p>
    <div class="form-group p-0 mt-3">
      <label for="height">Art size in px: </label>
      <input type="number" class="form-control" id="height" name="tentacles" min="0" max="1000" value="{{designs.0.designArtCoordinate.height | stringformat:'d'}}">
    </div>
    <p class="h4 mt-2 mb-0">--------Frame--------</p>
    <div class="form-group p-0 mt-3">
      <label for="frame_height">Frame height in px: </label>
      <input type="number" class="form-control" id="frame_height" name="tentacles" min="0" max="1000" value="{{designs.0.designArtFrameCoordinate.frame_height | stringformat:'d'}}">
    </div>
    <div class="form-group col-12 p-0 mt-3">
      <label for="frame_width">Frame width in px: </label>
      <input type="number" class="form-control" id="frame_width" name="tentacles" min="0" max="1000" value="{{designs.0.designArtFrameCoordinate.frame_width | stringformat:'d'}}">
    </div>
    <div class="form-group-12 p-0 mt-3">
      <label for="frame_border_radius">Frame border-radius px:</label>
      <input type="number" class="form-control" id="frame_border_radius" name="tentacles" min="0" max="1000" value="{{designs.0.designArtFrameCoordinate.frame_border_radius}}">
    </div>
    <p class="h4 mt-2 mb-0">--------Text--------</p>
    <div class="form-group p-0 mt-3">
      <label for="frame_border_radius">Text size in px:</label>
      <input type="number" class="form-control" id="text_size" name="tentacles" min="0" max="1000" value="{{designs.0.designTextCoordinate.font_size}}">
    </div>
    <div class="md-form">
      <label  >Text:</label>
      <textarea class="md-textarea form-control mb-3" id="design_text_input" rows="4" cols="35" style="white-space: pre-wrap;" name="comment" form="usrform"></textarea>

    </div>
    <div class="form-group mx-0 mb-3 p-0">
      <label>Font:</label>
      <select class="form-control" id="font">
        <option style="font-family: Inria Serif!important;" value="Inria Serif">Inria Serif</option>
        <option style="font-family: Roboto!important;" value="Roboto">Roboto</option>
        <option style="font-family: Oswald!important!important;" value="Oswald">Oswald</option>
        <option style="font-family: Ma Shan Zheng!important;" value="Ma Shan Zheng">Ma Shan Zheng</option>
        <option style="font-family: Ubuntu!important;" value="Ubuntu">Ubuntu</option>
        <option style="font-family: Open Sans Condensed!important;" value="Open Sans Condensed">Open Sans Condensed</option>
        <option style="font-family: Lilita One!important;" value="Lilita One">Lilita One</option>
        <option style="font-family: Anton!important;" value="Anton">Anton</option>
        <option style="font-family: Varela Round!important;" value="Varela Round">Varela Round</option>
        <option style="font-family: Crimson Text!important;" value="Crimson Text">Crimson Text</option>
        <option style="font-family: Lobster!important;" value="Lobster">Lobster</option>
        <option style="font-family: Dancing Script!important;" value="Dancing Script">Dancing Script</option>
      </select>
    </div>

    <div class="form-group mx-0 mb-3 p-0">
      <label>Font weight:</label>
      <select class="form-control" id="font-weight">
        <option value="400.000">normal</option>
        <option value="700.000">bold</option>
      </select>
    </div>
    <div class="form-group mx-0 mb-3 p-0">
      <label>Font style:</label>
      <select class="form-control" id="font-style">
        <option value="normal">Normal</option>
        <option value="italic">Italic</option>
      </select>
    </div>
    <div class="form-group mx-0 mb-3 p-0">
      <label>Font color:</label>
      <select class="form-control" id="font-color">
        <option style="background: #F0F8FF;" value="rgb(240, 248, 255)">AliceBlue</option>
        <option style="background: #FAEBD7;" value="rgb(250, 235, 215)">AntiqueWhite </option>
        <option style="background: #DC143C;" value="rgb(220, 20, 60)">Crimson </option>
        <option style="background: #FFF8DC;" value="rgb(255, 248, 220)">Cornsilk </option>
        <option style="background: #191970;" value="rgb(25, 25, 112)">MidnightBlue </option>
        <option style="background: #2F4F4F;" value="rgb(47, 79, 79)">DarkSlateGray </option>
        <option style="background: #000000;" value="rgb(0, 0, 0)">Black </option>
        <option style="background: #F8F8FF;" value="rgb(248, 248, 255)">GhostWhite</option>
        <option style="background: #000080;" value="rgb(0, 0, 128)">Navy </option>
      </select>
    </div>
    <script type="text/javascript">
      $("#font-color").val("{{designs.0.designTextCoordinate.font_color}}")
      $("#font").val("{{designs.0.designTextCoordinate.font}}")
      $("#font-weight").val("{{designs.0.designTextCoordinate.font_weight}}")
      $("#font-style").val("{{designs.0.designTextCoordinate.font_style}}")
    </script>
  </div>
  {% endif %}
</div>
<div id="dialog-confirm" title="Delete this product design?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;" ></span>These design will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
{% endblock body%}
{% block javascript %}
<script>
var activeDesignId;
var saveDesign = false;


var draggability = 'disable';
if({{designs.count}} != 0){
  /*sets the active design coordinate when the page loads for the first time*/
  $( "#art_image_edit" ).css({ top: '{{designs.0.designArtCoordinate.coordinate_top}}'+'px', left:'{{designs.0.designArtCoordinate.coordinate_left}}'+'px',
  height: '{{designs.0.designArtCoordinate.height}}'+'px'});
  $( ".crop_frame" ).css({ top: '{{designs.0.designArtFrameCoordinate.frame_coordinate_top}}'+'px', left:'{{designs.0.designArtFrameCoordinate.frame_coordinate_left}}'+'px',
  height: '{{designs.0.designArtFrameCoordinate.frame_height}}'+'px', width: '{{designs.0.designArtFrameCoordinate.frame_width}}'+'px', border: '5px solid rgba(250, 0, 0, .0)', 'border-radius': '4px',
  'border-radius': parseInt('{{designs.0.designArtFrameCoordinate.frame_border_radius}}')
});

$( "#design_text").css({top:'{{designs.0.designTextCoordinate.coordinate_top}}'+'px',left: '{{designs.0.designTextCoordinate.coordinate_left}}'+'px',
'font-family':'{{designs.0.designTextCoordinate.font}}','font-weight':'{{designs.0.designTextCoordinate.font_weight}}'+'px',
'font-style':'{{designs.0.designTextCoordinate.font_style}}','color':'{{designs.0.designTextCoordinate.font_color}}',
'font-size':'{{designs.0.designTextCoordinate.font_size}}'+'px'})

$("#font").val('{{designs.0.designTextCoordinate.font}}')
$("#font-style").val('{{designs.0.designTextCoordinate.font_style}}')
$("#font-weight").val('{{designs.0.designTextCoordinate.font_weight}}')
$("#font-color").val('{{designs.0.designTextCoordinate.font_color}}')

$('.productChoiceButton').css({ 'border-bottom': 'solid 4px white'})
$('#productChoiceButton_'+'{{designs.0.id}}').css({ 'border-bottom': 'solid 4px #f76c6c'})
designEditButtons()
}
$("#save_button").hide()
$("#art_image_edit_controller_space").hide()
$("#dialog-confirm").css("display","none");

activeDesignId = parseInt('{{designs.0.id}}');
if('{{designs.0.user}}' != 'None'){
  draggability = 'enable';
  $( ".crop_frame" ).draggable().draggable(draggability);
  $( "#design_text" ).draggable().draggable(draggability);
  $( "#art_image_edit" ).draggable().draggable(draggability);
  $("#art_image_edit_controller_space").show()

}

function addToCart(authenticated){
  console.log(authenticated)
  if(authenticated==true){
    $.get('/cart/'+activeDesignId+'/',function( data ) {
      window.location.href = "/cart/";
    })
  }else{
    flashMessage("You must be logged in to be able to purchase a product","info")
  }

}

function productChoiceButton(id,imageUrl,art_draggability,url,csrfToken,pageName){

  draggability =art_draggability;

  if (art_draggability=='enable'){
    $("#art_image_edit_controller_space").show()
  }else{
    $("#art_image_edit_controller_space").hide()
  }
  $( function() {
    $( ".crop_frame" ).draggable().draggable(draggability);
  } );
  $( function() {
    $( "#design_text" ).draggable().draggable(draggability);
  } );
  $( function() {
    $( "#art_image_edit" ).draggable().draggable(draggability);
  } );

  activeDesignId = id

  $.ajax({
    type: 'GET',
    url: url,
    data: {
      'designId':id,
      'csrfmiddlewaretoken': csrfToken,
    },
    dataType: 'json',
    success: function(data){
      var data = data
      $('.productChoiceButton').css({ 'border-bottom': 'solid 4px white'})
      $('#productChoiceButton_'+data['id']).css({ 'border-bottom': 'solid 4px #f76c6c'})
      art_top = parseInt(data['top'])
      art_left = parseInt(data['left'])
      art_height = data['height']
      width = data['width']
      frame_top = parseInt(data['frame_top'])
      frame_left = parseInt(data['frame_left'])
      frame_height = data['frame_height']
      frame_width = data['frame_width']
      frame_border_radius = data['frame_border_radius']
      rotation = data['rotation']

      text_top = data['text_top']
      text_left = data['text_left']
      font = data['font']
      font_weight = data['font_weight']
      font_color = data['font_color']
      font_style = data['font_style']
      font_size = data['font_size']

      var schale = 0.15
      var small_art_coordinate_top = parseInt(art_top)*schale
      var small_art_coordinate_left = parseInt(art_left)*schale
      var small_art_height = parseInt(art_height)*schale
      var small_frame_coordinate_top = parseInt(frame_top)*schale
      var small_frame_coordinate_left = parseInt(frame_left)*schale
      var small_frame_height = parseInt(frame_height)*schale
      var small_frame_width = parseInt(frame_width)*schale
      var small_frame_frame_border_radius = parseInt(frame_border_radius)*schale

      var small_text_top = parseInt(text_top)*schale
      var small_text_left =parseInt(text_left)*schale
      var small_font_size = parseInt(font_size)*schale
      var small_font_weight =parseInt(font_weight)*schale

      $("#art_image_edit").css({ top: art_top, left: art_left, height: art_height, transform: rotation} );
      $(".crop_frame").css({ top: frame_top, left: frame_left, height: frame_height, width: frame_width, 'border-radius': frame_border_radius} );
      $("#height").val(Math.round(art_height));

      $("#frame_height").val(Math.round(frame_height));
      $("#frame_width").val(Math.round(frame_width));
      $("#frame_border_radius").val(frame_border_radius);
      $(".imgbuttom").removeClass("border-success").addClass("border-dark")
      $("#product_".concat(activeDesignId)).removeClass("border-dark").addClass("border-success");
      $("#design_text_input").text(data['text'])

      $('#design_text').text(data['text'])
      $( "#design_text").css({top:text_top+'px',left: text_left+'px',
      'font-family':font,'font-weight':font_weight+'px',
      'font-style':font_style,'color':font_color,
      'font-size':font_size+'px'})
      $("#design_text_"+activeDesignId).text(data['text'])

      $("#design_text_"+activeDesignId).css({top:small_text_top,left:small_text_left,
        'font-family':font,'font-weight':small_font_weight+'px',
        'font-style':font_style,'color':font_color,
        'font-size':small_font_size})
        document.getElementById("product_image_edit").src = imageUrl;
        $("#text_size").val(font_size)
        $("#font-color").val(font_color)
        $("#font").val(font)
        console.log(font_weight)
        $("#font-weight").val(font_weight)
        $("#font-style").val(font_style)
      }
    });
  };



  function designEditButtons(){
    $(".crop_frame").mousedown(function() {
      if(draggability=='enable'){
        $("#save_button").show()
        $("#art_image_edit_controller_space").show()
      }
    });
    $("#design_text").mousedown(function() {
      $("#save_button").show()
    });
    $( ".crop_frame" ).draggable();
    $( ".crop_frame" ).draggable(draggability);
    $( "#art_image_edit" ).draggable();
    $( "#art_image_edit" ).draggable(draggability);
    if (draggability=='enable'){
      $("#art_image_edit_controller_space").show()
    }else{
      $("#art_image_edit_controller_space").hide()
    }
    $("#main").mouseover(function(){
      if(draggability=='enable'){
        $(".crop_frame").mouseover(function(){
          if(draggability=='enable'){
            $(".crop_frame").css({ 'backgroud-color': 'black', border: '5px solid rgba(250, 0, 0, .5)', 'cursor': 'move'})
          }
          else{
            $(".crop_frame").css({'cursor': 'auto'})
          }
        });
        $(".crop_frame").mouseout(function(){
          $(".crop_frame").css({ 'backgroud-color': 'black', border: '5px solid rgba(250, 0, 0, .0)'})
        });

        $( "#height" ).change(function(){
          $("#save_button").show()
          height = $("#height").val();
          $( "#art_image_edit" ).css({ height: height});
        });

        $( "#frame_height" ).change(function(){
          $("#save_button").show()
          height = $("#frame_height").val();
          $(".crop_frame").css({ 'backgroud-color': 'black', border: '5px solid rgba(250, 0, 0, .5)', height: height})
        });

        $("#design_text").mouseover(function(){
          $("#design_text").css({  'cursor': 'move'})
        });


        $("#art_image_edit, .crop_frame, #design_text").mouseup(function(){
          saveDesign = true
        })

        $( "#text_size , #design_text_input, #font-weight, font-style, #font, #font-color, #height, #frame_height, #frame_width, #frame_border_radius, #rotation" ).change(function(){
          height = $("#height").val();
          text_size = $("#text_size").val();
          font_weight = $("#font-weight").val();
          font_style = $("#font-style").val();
          font = $("#font").val();
          color = $("#font-color").val();
          frame_height = $("#frame_height").val();
          frame_width = $("#frame_width").val();
          border_radius = $("#frame_border_radius").val();
          rotation = $("#rotation").val();
          $( "#art_image_edit" ).css({'-webkit-transform': 'rotate(' + rotation + 'deg)',
          '-moz-transform': 'rotate(' + rotation + 'deg)',
          '-ms-transform': 'rotate(' + rotation + 'deg)',
          '-o-transform': 'rotate(' + rotation + 'deg)',
          'transform': 'rotate(' + rotation + 'deg)',});
          $( ".crop_frame" ).css({ 'border-radius': border_radius+'px'});
          $( ".crop_frame" ).css({ 'backgroud-color': 'black', border: '5px solid rgba(250, 0, 0, .5)', height: frame_height});
          $( ".crop_frame" ).css({ 'backgroud-color': 'black', border: '5px solid rgba(250, 0, 0, .5)', width: frame_width});
          $("#art_image_edit" ).css({ height: height});
          $("#design_text").css({ 'font-size': text_size+'px'})
          $("#design_text").css({'font-weight': font_weight})
          $("#design_text").html($("#design_text_input").val())
          $("#design_text").css({'font-style': font_style})
          $("#design_text").css({'font-family': font})
          $("#design_text").css({'color': color})
          if(saveDesign==false){
            saveDesign = true
          }

        });

      }
    });
    setInterval(function(){
      if(saveDesign){
        saveDesign = false; saveDesignCoordinate("{% url 'productDetail_page' art.id product.id %}","{{ csrf_token }}",'#art_image_edit','.crop_frame','#design_text', confirmationMessage='false', '#design_text_','#art_image_view_small_','#crop_frame_');
      };}, 5000);
    }

  </script>
  {% endblock %}
