
{% extends "layout.html" %}

{% block title %} Contact {% endblock %}

{% block body %}
<div class="col-lg-8 col-md-8 col-sm-12 mt-5">
  <div class="card ">
    <a href="{% url 'productDetail_page' product.id %}"><img class="card-img-top" src="{{product.product_photo.url}}" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">{{product.product_name}}</a>
      </h4>
      <h5>${{product.price}}</h5>
       <div id="collapsible_text"class="collapse-content">
      <!-- Text -->
      <p class="card-text collapse" id="collapseContent_{{product.id}}">{{product.description}}</p>
      <!-- Button -->
      <a class="btn text-info p-0  collapsed" data-toggle="collapse" href="#collapseContent_{{product.id}}" aria-expanded="false" aria-controls="collapseContent">Show description</a>
      </div>

    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </div>
  </div>
</div>
{% endblock body%}
