{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %} Product {% endblock %}

{% block body %}
<div class="row no-container" >
  <div class="col-lg-8 col-md-12 col-sm-12 mt-5">
    {% if designs.count < 1%}
    <h1 class="h4">There are no designs for this product yet. You can create a new design by clicking the Add Product Design button below</h1>
    {% endif %}
    <div class="" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border: solid .5px;">
      <div id="imageEditSpace" class="rounded" >
        <img id="product_image_edit" style="padding:1px;" src="{{designs.0.product.product_photo.url}}"alt="art image">
        <div class="crop_frame">
          <img id="art_image_edit" style=""src="{{designs.0.art.artwork_photo.url}}"alt="art image ">
        </div>
        <p  id="design_text" style=" position: absolute;  margin: 0px; white-space: pre-wrap; font-family: Lobster"; font-weight: normal>{{designs.0.designTextCoordinate.text}}</p>

      </div>
      <div class="row m-0 pl-4" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% for design in designs %}
        <div class="card my-2"
        onclick="productChoiceButton(
        '{{design.id}}',
        '{{design.product.product_photo.url}}',
        '{% url 'productDetail_page' designs.0.art.id designs.0.product.id %}',
        '{{ csrf_token }}',
        '#productChoiceButton_{{design.id}}')">
        <div style=" position: relative; width: 90px; height: 94px;">
          <img id="productChoiceButton_{{design.id}}"class="productChoiceButton" src="{{design.product.product_photo.url}}"
          style=" height: 100%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); position: absolute; top:0px;left:0px;"></img>
          {% if design.user != None %}
          <a class="" style="position: absolute; top:-15px;left:66px; " data-toggle="tooltip" data-placement="top" title="Add a commint"><img class="rounded-circle" style="width: 18px;" src="{{ user.userprofile.image.url }}"></a>
          {%endif%}
          <div id="crop_frame_{{design.id}}"  style="position: absolute;overflow: hidden; height: 15%; border: 0.75px solid rgba(250, 0, 0, .0);">
            <img id="art_image_view_small_{{design.id}}"
            style="height: 100%; position: absolute;  margin: -0px 0px 0px 0px;"
            class="art_image_edit" src="{{design.art.artwork_photo.url}}"alt="art image is not loading error">
          </div>
          <script>
          var schale = 0.15
          var coordinate_top = parseInt({{design.designArtCoordinate.coordinate_top}})*schale
          var coordinate_left = parseInt({{design.designArtCoordinate.coordinate_left}})*schale
          var height = {{design.designArtCoordinate.height}}*schale
          var frame_coordinate_top = parseInt({{design.designArtFrameCoordinate.frame_coordinate_top}})*schale
          var frame_coordinate_left = parseInt({{design.designArtFrameCoordinate.frame_coordinate_left}})*schale
          var frame_height = {{design.designArtFrameCoordinate.frame_height}}*schale
          var frame_width = {{design.designArtFrameCoordinate.frame_width}}*schale
          var border_radius= {{design.designArtFrameCoordinate.frame_border_radius}}*schale
          /*sets the active design coordinate when the page loads for the first time*/
          $("#art_image_view_small_{{design.id}}").css({ top: coordinate_top, left: coordinate_left, height: height, transform: '{{design.rotation}}'});
          $("#crop_frame_{{design.id}}").css({ top: frame_coordinate_top, left: frame_coordinate_left, height: frame_height, width:frame_width, 'border-radius': border_radius});
          </script>
        </div>
      </div>
      {% endfor %}
    </div >
    <button class="btn btn-success mt-3 ml-4" id="save_button"onclick="saveCoordinate('{% url 'editProduct_page' art.id %}','{{ csrf_token }}')">Save Design</button>
    <div class="m-4">
      <form  action="{% url 'editProduct_page' art.pk %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary mb-2" type="submit" value="add_design">Add product design</button>
      </form>

      <button class="btn btn-danger mb-2" method="DELETE" onclick="deleteDesign('{% url 'editProduct_page' art.id %}','{{ csrf_token }}')" value="delete_design">Delete product design</button>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 mt-5 m-0 p-0" id="art_image_edit_controller_space">
  <div class="col-12 p-0 mt-3">
    <label for="height">art size in px: </label>
    <input type="number" id="height" name="tentacles" min="0" max="1000" value="{{designs.0.designArtCoordinate.height | stringformat:'d'}}">
  </div>
  <div class="col-12 p-0 mt-3">
    <label for="frame_height">Frame height in px: </label>
    <input type="number" id="frame_height" name="tentacles" min="0" max="1000" value="{{designs.0.designArtFrameCoordinate.frame_height | stringformat:'d'}}">
  </div>
  <div class="col-12 p-0 mt-3">
    <label for="frame_width">Frame width in px: </label>
    <input type="number" id="frame_width" name="tentacles" min="0" max="1000" value="{{designs.0.designArtFrameCoordinate.frame_width | stringformat:'d'}}">
  </div>
  <div class="col-12 p-0 mt-3">
    <label for="frame_border_radius">Frame border-radius px:</label>
    <input type="number" id="frame_border_radius" name="tentacles" min="0" max="1000" value="{{designs.0.designArtFrameCoordinate.frame_border_radius}}">
  </div>
  <div class="col-12 p-0 mt-3">
    <label for="frame_border_radius">Text size in px:</label>
    <input type="number" id="text_size" name="tentacles" min="0" max="1000" value="{{designs.0.designTextCoordinate.font_size}}">
  </div>
  <textarea class="mb-3" id="design_text_input" rows="4" cols="35" style="white-space: pre-wrap;" name="comment" form="usrform">
  </textarea>
  <div class="row mx-0 mb-3 p-0">
    <p class="m-0 pr-2">Font:</p>
    <select id="font">
      <option value="Inria Serif">Inria Serif</option>
      <option value="Roboto">Roboto</option>
      <option value="Oswald">Oswald</option>
      <option value="Ma Shan Zheng">Ma Shan Zheng</option>
      <option value="Ubuntu">Ubuntu</option>
      <option value="Open Sans Condensed">Open Sans Condensed</option>
      <option value="Lilita One">Lilita One</option>
      <option value="Anton">Anton</option>
      <option value="Varela Round">Varela Round</option>
      <option value="Crimson Text">Crimson Text</option>
      <option value="Lobster">Lobster</option>
      <option value="Bowlby One SC">Bowlby One SC</option>
      <option value="Dancing Script">Dancing Script</option>
    </select>
  </div>
  <div class="row mx-0 mb-3 p-0">
    <p class="m-0 pr-2">Font-weight:</p>
    <select id="font-weight">
      <option value="normal">normal</option>
      <option value="bold">bold</option>
      <option value="900">Extra bold</option>
    </select>
  </div>
  <div class="row mx-0 mb-3 p-0">
    <p class="m-0 pr-2">Font-style:</p>
    <select id="font-style">
      <option value="normal">normal</option>
      <option value="italic">italic</option>
    </select>
  </div>
  <div class="row mx-0 mb-3 p-0">
    <p class="m-0 pr-2">Font color:</p>
    <select id="font-color">
      <option value="#F0F8FF">AliceBlue</option>
      <option value="#FAEBD7">AntiqueWhite </option>
      <option value="#DC143C">Crimson </option>
      <option value="#FFF8DC">Cornsilk </option>
      <option value="#191970">MidnightBlue </option>
      <option value="#2F4F4F">DarkSlateGray </option>
      <option value="#000000">Black </option>
      <option value="#F8F8FF">GhostWhite</option>
      <option value="#FFFFFF">White</option>
      <option value="#F5F5F5">WhiteSmoke  </option>
      <option value="#F8F8FF">GhostWhite</option>
      <option value="##000080">Navy </option>
    </select>
  </div>
</div>
</div>
<div id="dialog-confirm" title="Delete this product design?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>These design will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
{% endblock body%}

{% block javascript %}
<script>
var activeDesignId;

if({{designs.count}} != 0){
  activeDesignId = '{{designs.0.id}}'
  $( "#art_image_edit" ).css({ top: '{{designs.0.designArtCoordinate.coordinate_top}}'+'px', left:'{{designs.0.designArtCoordinate.coordinate_left}}'+'px',
  height: '{{designs.0.designArtCoordinate.height}}'+'px'});

  $( ".crop_frame" ).css({ top: '{{designs.0.designArtFrameCoordinate.frame_coordinate_top}}'+'px', left:'{{designs.0.designArtFrameCoordinate.frame_coordinate_left}}'+'px',
  height: '{{designs.0.designArtFrameCoordinate.frame_height}}'+'px', width: '{{designs.0.designArtFrameCoordinate.frame_width}}'+'px', border: '5px solid rgba(250, 0, 0, .0)', 'border-radius': '4px',
  'border-radius': parseInt('{{designs.0.designArtFrameCoordinate.frame_border_radius}}')
});

$( "#design_text").css({top:'{{designs.0.designTextCoordinate.coordinate_top}}'+'px',left: '{{designs.0.designTextCoordinate.coordinate_left}}'+'px',
'font-family':'{{designs.0.designTextCoordinate.font}}','font-weight':'{{designs.0.designTextCoordinate.font_weight}}'+'px',
'font-style':'{{designs.0.designTextCoordinate.font_style}}','color':'{{designs.0.designTextCoordinate.font_color}}',
'font-size':'{{designs.0.designTextCoordinate.font_size}}'+'px'})

$('.productChoiceButton').css({ 'border-bottom': 'solid 4px white'})
$('#productChoiceButton_'+'{{designs.0.id}}').css({ 'border-bottom': 'solid 4px #f76c6c'})
designEditButtons()
}
$("#dialog-confirm").css("display","none");
$("#save_button").hide()


function deleteDesign(url,csrfToken){
  console.log(url);
  deleteProductDesign(url,csrfToken,activeDesignId);
}

function productChoiceButton(id,imageUrl,url,csrfToken,pageName){
  activeDesignId = id
  $.ajax({
    type: 'GET',
    url: url,
    data: {
      'designId':id,
      'csrfmiddlewaretoken': csrfToken,
    },
    dataType: 'json',
    success: function(data){
      var data = data
      $('.productChoiceButton').css({ 'border-bottom': 'solid 4px white'})
      $('#productChoiceButton_'+data['id']).css({ 'border-bottom': 'solid 4px #f76c6c'})
      art_top = parseInt(data['top'])
      art_left = parseInt(data['left'])
      art_height = data['height']
      width = data['width']
      frame_top = parseInt(data['frame_top'])
      frame_left = parseInt(data['frame_left'])
      frame_height = data['frame_height']
      frame_width = data['frame_width']
      frame_border_radius = data['frame_border_radius']
      rotation = data['rotation']
      $("#art_image_edit").css({ top: art_top, left: art_left, height: art_height, transform: rotation} );
      $(".crop_frame").css({ top: frame_top, left: frame_left, height: frame_height, width: frame_width, 'border-radius': frame_border_radius} );
      $("#height").val(Math.rond(art_height));
      $("#frame_height").val(Math.rond(frame_height));
      $("#frame_width").val(Math.rond(frame_width));
      $("#frame_border_radius").val(frame_border_radius);
      $(".imgbuttom").removeClass("border-success").addClass("border-dark")
      $("#product_".concat(activeDesignId)).removeClass("border-dark").addClass("border-success");
      document.getElementById("product_image_edit").src = imageUrl;
    }
  });
};

function saveCoordinate(url,csrfToken){
  var art_top = $( "#art_image_edit" ).css("top")
  var art_left = $( "#art_image_edit" ).css("left")
  var height = $( "#art_image_edit" ).css("height")
  var width = $( "#art_image_edit" ).css("width")
  var rotation = $( "#art_image_edit" ).css("transform")
  var frame_top = $( ".crop_frame" ).css("top")
  var frame_left = $( ".crop_frame" ).css("left")
  var frame_height = $( ".crop_frame" ).css("height")
  var frame_width = $( ".crop_frame" ).css("width")
  var frame_border_radius = $( ".crop_frame" ).css("border-top-left-radius")
  var designId = activeDesignId
  // text
  var font = $( "#design_text" ).css("font-family")
  var font_weight = $( "#design_text" ).css("font-weight")
  var font_style = $( "#design_text" ).css("font-style")
  var font_color = $( "#design_text" ).css("color")
  var text_top = $( "#design_text" ).css("top")
  var text_left = $( "#design_text" ).css("left")
  var text = $( "#design_text" ).text();
  var text_size = $( "#design_text").css("font-size");
  $.ajax({
    type: 'POST',
    url: url,
    data: {
      'csrfmiddlewaretoken': csrfToken,
      'designId':designId,
      'left': art_left,
      'top':art_top,
      'height':height,
      'width':width,
      'frame_top':frame_top,
      'frame_left':frame_left,
      'frame_height':frame_height,
      'frame_width':frame_width,
      'frame_border_radius':frame_border_radius,
      'rotation':rotation,
      'font':font,
      'font_weight':font_weight,
      'font_style':font_style,
      'font_color':font_color,
      'text_top':text_top,
      'text_left':text_left,
      'text':text,
      'text_size':text_size
    },
    success: alert,
    dataType: 'json'
  });
  function alert(data) {
    var data = data
    $("#save_button").hide()
    flashMessage("Your design is saved successfully")
    var schale = 0.15
    var small_art_coordinate_top = parseInt(art_top)*schale
    var small_art_coordinate_left = parseInt(art_left)*schale
    var small_art_height = parseInt(height)*schale
    var small_frame_coordinate_top = parseInt(frame_top)*schale
    var small_frame_coordinate_left = parseInt(frame_left)*schale
    var small_frame_height = parseInt(frame_height)*schale
    var small_frame_width = parseInt(frame_width)*schale
    var small_frame_frame_border_radius = parseInt(frame_border_radius)*schale
    $("#art_image_view_small_"+activeDesignId).css({ top: small_art_coordinate_top, left: small_art_coordinate_left, height: small_art_height});
    $("#crop_frame_"+activeDesignId).css({ top: small_frame_coordinate_top, left: small_frame_coordinate_left, height: small_frame_height, width:small_frame_width, 'border-radius': small_frame_frame_border_radius});
  };
};

function designEditButtons(){
  $(".crop_frame").mousedown(function() {
      $("#save_button").show()
  });
  $("#design_text").mousedown(function() {
      $("#save_button").show()
  });

  $( function() {
    $( ".crop_frame" ).draggable();
  } );

  $( function() {
    $( "#art_image_edit" ).draggable();
  } );
  $( function() {
    $( "#design_text" ).draggable();
  } );




      $(".crop_frame").mouseover(function(){
          $(".crop_frame").css({ 'backgroud-color': 'black', border: '5px solid rgba(250, 0, 0, .5)', 'cursor': 'move'})
      });
      $(".crop_frame").mouseout(function(){
        $(".crop_frame").css({ 'backgroud-color': 'black', border: '5px solid rgba(250, 0, 0, .0)'})
      });

      $( "#height" ).change(function(){
        $("#save_button").show()
        height = $("#height").val();
        $( "#art_image_edit" ).css({ height: height});
      });

      $( "#frame_height" ).change(function(){
        $("#save_button").show()
        height = $("#frame_height").val();
        $(".crop_frame").css({ 'backgroud-color': 'black', border: '5px solid rgba(250, 0, 0, .5)'})
        $( ".crop_frame" ).css({ height: height});
      });

      $( "#frame_width" ).change(function(){
        $("#save_button").show()
        width = $("#frame_width").val();
        $(".crop_frame").css({ 'backgroud-color': 'black', border: '5px solid rgba(250, 0, 0, .5)'})
        $( ".crop_frame" ).css({ width: width});
      });


      $("#frame_border_radius").change(function(){
        $("#save_button").show()
        value = $("#frame_border_radius").val();
        $( ".crop_frame" ).css({ 'border-radius': value+'px'});
      });
      $( "#rotation" ).change(function(){
        $("#save_button").show()
        value = $("#rotation").val();
        $( "#art_image_edit" ).css({'-webkit-transform': 'rotate(' + value + 'deg)',
        '-moz-transform': 'rotate(' + value + 'deg)',
        '-ms-transform': 'rotate(' + value + 'deg)',
        '-o-transform': 'rotate(' + value + 'deg)',
        'transform': 'rotate(' + value + 'deg)',});
      });

      $( "#text_size" ).change(function(){
        $("#save_button").show()
        text_size = $("#text_size").val();
        $("#design_text").css({ 'font-size': text_size+'px'})
      });
      $( "#design_text_input" ).change(function(){
        $("#save_button").show()
        text_size = $("#design_text_input").val();
        $("#design_text").html($("#design_text_input").val())
      });
      $( "#font-weight" ).change(function(){
        $("#save_button").show()
        font_weight = $("#font-weight").val();
        $("#design_text").css({'font-weight': font_weight})
      });
      $( "#font-style" ).change(function(){
        $("#save_button").show()
        font_style = $("#font-style").val();
        $("#design_text").css({'font-style': font_style})
      });
      $( "#font" ).change(function(){
        $("#save_button").show()
        font = $("#font").val();
        $("#design_text").css({'font-family': font})
      });
      $( "#font-color" ).change(function(){
        $("#save_button").show()
        font = $("#font-color").val();
        $("#design_text").css({'color': font})
      });
}
</script>
{% endblock %}
