{% extends "layout.html" %}

{% block title %} Contact {% endblock %}

{% block body %}
<div class="wrapper container">
  <div class="row no-container">
    <div class="col-12 mt-5 p-5 border-bottom">
      <h1 class="h5 " style="font-family: 'Raleway', sans-serif;">We are a Platform where talented artist
        from around the globe can easily merchandise their artworks without having to do all the hard
        and boring work of marketing, productions and transportations. </h1>
    </div>
    <div class="p-5 border-bottom">
      <h1 class="h5 mb-3">Company history</h1>
      <p class=""style="font-family: 'Raleway', sans-serif;">We started as a school project
        in the fall of 2019 by four classmates from Hogeschool in Rotterdam. We realized that there is a real
        need for this type of service after working on this project for a few months.  After the
        school project was finished, we had decided to make this into a real company and the rest
        is history.
      </p>
    </div>
    <h1 class="h5 mt-5 pl-5">Team members</h1>
    <div class="row p-5 border-bottom">

   <!-- Team Member 1 -->
   <div class="col-xl-3 col-md-6 mb-4">
     <div class="card border-0 shadow">
       <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
       <div class="card-body text-center">
         <h5 class="card-title mb-0">Suzan </h5>
         <div class="card-text text-black-50">Founder / Web Developer</div>
       </div>
     </div>
   </div>
   <!-- Team Member 2 -->
   <div class="col-xl-3 col-md-6 mb-4">
     <div class="card border-0 shadow">
       <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
       <div class="card-body text-center">
         <h5 class="card-title mb-0">Sebastian</h5>
         <div class="card-text text-black-50">Founder / Web Developer</div>
       </div>
     </div>
   </div>
   <!-- Team Member 3 -->
   <div class="col-xl-3 col-md-6 mb-4">
     <div class="card border-0 shadow">
       <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
       <div class="card-body text-center">
         <h5 class="card-title mb-0">Farid</h5>

         <div class="card-text text-black-50">Founder / Web Developer</div>
       </div>

     </div>
   </div>
   <!-- Team Member 4 -->
   <div class="col-xl-3 col-md-6 ">
     <div class="card border-0 shadow">
       <img src="../media/profile_pics/sopa.jpg" class="card-img-top" alt="...">
       <div class="card-body text-center">
         <h5 class="card-title mb-0">Sopa</h5>
         <div class="card-text text-black-50">Founder / Web Developer</div>
       </div>
     </div>
   </div>
   <div class="col-xl-3 col-md-6 ">
     <div class="card border-0 shadow">
       <img src="../media/profile_pics/dog.jpg" class="card-img-top" alt="...">
       <div class="card-body text-center">
         <h5 class="card-title mb-0">Apollo</h5>
         <div class="card-text text-black-50">Co-Founder / Company mascot</div>
       </div>
     </div>
   </div>
 </div>
<h1 class="h5 mt-5 pl-5">Contact details</h1>
 <div class="col-lg-12 col-sm-12 p-5 border-bottom" style="font-family: 'Raleway', sans-serif;">
   <span class="float-left" >
     <i class="far fa-envelope mr-2"></i>
     </span>
      <span class="float-left" >
     <p class="m-0 p-0 mr-3">customerservice@artdrop.com </p>
   </span>
   <span class="float-left" >
     <i class="fas fa-phone mr-2"></i>
    </span>
     <span class="float-left" >
     <p class="m-0 p-0 mr-3">+31 10854857 </p>
   </span>
   <span class="float-left mr-2" >
     <i class="fas fa-map-marked-alt"></i>
      </span>
       <span class="float-left" >
     <p class="m-0 p-0 mr-3">Beursplein 37, 3011 AA Rotterdam </p>
   </span>
 </div>
  </div>
</div>
{% endblock body%}
