{% extends "layout.html" %}
{% load custom_templatetags_art %}
{% block title %} Art Drop {% endblock %}
{% block body %}
<!-- Page Content -->
<!--Carousel Wrapper-->
<body>
<div id="carousel-example-2" class="carousel slide carousel-fade mt-5" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    {% for advertisementSlide in advertisementSlides %}
    <div class="carousel-item {% if  forloop.counter == 1 %} active{% endif %}">
      <div class="view">
        <a href="{% url 'artDetail_page' advertisementSlide.art.id %}"> <img class="d-block w-100 " src='{{ advertisementSlide.image.url }}'alt="First slide"></img></a>
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive" style="font-size: 1.5vw">{{advertisementSlide.title}}</h3>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>

<!--/.Carousel Wrapper-->
<div class="row m-0 p-0">
  <div class="col-md-5 col-sm-12">
<label class="h5 mt-3"for="colorSelect">Order By:</label>
<select type="text" id="artworkFilter" name="artworkFilter">
      <option value="newest"><selected>Newest</option>
      <option value="oldest">Oldest</option>
      <option value="highestPrice"><selected>Highest Price</option>
      <option value="lowestPrice"><selected>Lowest Price</option>
      <option value="mostLiked">Most Liked</option>
  </select>
  </div>
  <div class="col-md-5 col-sm-12">
  <label class="h5 mt-3"for="colorSelect">Filter By:</label>
  <select type="text" id="categoryFilter" name="artworkFilter">
        <option value="all"><selected>All</option>
        <option value="photography"><selected>Photography</option>
        <option value="fineArt">FineArt</option>
        <option value="graphic"><selected>Graphic</option>
        <option value="drawing"><selected>Drawing</option>
        <option value="modernArt">Modern Art</option>
    </select>
  </div>
  </div>
<div class="card-columns" >

  <!-- <form method="GET">
    {{filter.form}}
  </form> -->
  {% for artwork in Artworks %}

  <!--Card-->
  <div id="art_item" class="card card-cascade card-ecommerce narrower mt-2 " >
    <!--Card image-->
    <div class="view view-cascade overlay">
      <a href="{% url 'artDetail_page' artwork.id %}"><img class="card-img-top" src="{{ artwork.artwork_photo.url }}"alt="artwork"> </img></a>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-cascade ">
      <!--Category & Title-->
      <h4 class="card-title text-center"><strong><a href="{% url 'artDetail_page' artwork.id %}">{{ artwork.artwork_name }}</a></strong></h4>
      <!--Description-->
      <p class="card-text">{{artwork.artwork_description }}</p>
      <!--Card footer-->
      <div class="card-footer mb-2">
        <span class="float-left">
          <a class="" data-toggle="tooltip" data-placement="top" ><img class="rounded-circle article-img"  src="{{ artwork.artist.user.userprofile.image.url }}"></a>
        </span>
        <span class="float-left ml-3">
          <a href="{% url 'artist_card' artwork.artist.user.id %}">{{ artwork.artist.user.username }}</a>
        </span>
        <span class="float-right" >
            <form id = "form-id"  >
                {% csrf_token %}
                <a class="like_button button"type="submit"
                onclick="
                like_button({{artwork.id}},
                '{% url 'home_page' %}',
                '{{ csrf_token }}',
                '{{user.is_authenticated}}')" > <i id="heart_sign_color_{{artwork.id}}"class="fas fa-heart {%isLiked artwork.id user.id%}" ></i></a>
            </form>
        </span>
        <span class="float-right" >
        <a href="{% url 'artworkLikeList_page' artwork.id %}"><p id="like_count_{{artwork.id}}"class= "mr-1">{{artwork.artwork_likes.count}}</p></a>
        </span>
        <span class="float-right">
          <a  class="" href="{% url 'artDetail_page' artwork.id %}" data-toggle="tooltip" data-placement="top" title="Add a comment"><i class="far fa-comments mr-3"></i></a>
        </span>

      </div>
    </div>
    <!--/.Card content-->
  </div>
  <!--/.Card-->

  {% endfor %}


</div>

</body>
<!--/.Card-->
<!--Page navigation-->
<nav aria-label="Page navigatio">
  <ul class="pagination pg-blue justify-content-center">
    <li class="page-item ">
      {% if page_obj.has_previous %}
      <li class="page-item"><a href="?page=1"class="page-link" >First</a></li>
      <li class="page-item"><a href="?page={{page_obj.previous_page_number }}"class="page-link" >Previous</a></li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item"><a href="?page={{num}}" class="page-link text-success" >{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <li class="page-item"><a href="?page={{num}}" class="page-link" >{{ num }}</a></li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item"><a href="?page={{page_obj.next_page_number}}"class="page-link">Next</a></li>
      <li class="page-item"><a href="?page={{page_obj.paginator.num_pages}}"class="page-link" >Last</a></li>
      {% endif %}
    </li>

  </ul>
</nav>
<!--/Page navigation-->
<!-- /.container -->
<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">RECENTLY JOINED ARTISTS </h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
{%for item in newest%}
    <div class="col-lg-3 col-md-4 col-6">
      <p class="text-center font-weight-bold">{{item.user|capfirst}}</p>
      <a href="{% url 'artist_card' item.user.id %}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail account-img profile-pic rounded mx-auto d-block" src="{{item.user.userprofile.image.url}}" alt="userimage">
          </a>
    </div>
{% endfor %}
  </div>

</div>
{% endblock %}

{% block javascript %}
<script>
$("#home_page").parent().addClass("active")

if('{{filter}}' != 'newest' && '{{filter}}' != 'oldest'
&& '{{filter}}' != 'highestPrice' && '{{filter}}' != 'lowestPrice'
&& '{{filter}}' != 'mostLiked' ){
  $("#artworkFilter").val('newest')
}else{
  $("#artworkFilter").val('{{filter}}')
}

if('{{category}}' != 'all' && '{{category}}' != 'photography'
&& '{{category}}' != 'fineArt' && '{{category}}' != 'graphic'
&& '{{category}}' != 'drawing' &&  '{{category}}' != 'modernArt' ){
  $("#categoryFilter").val('all')
}else{
  $("#categoryFilter").val('{{category}}')
}

$("#artworkFilter").change(function(){
  choice = $("#artworkFilter").val();
  category = $("#categoryFilter").val();
  window.location.href = "/"+choice+"/"+category+"/";
});
$("#categoryFilter").change(function(){
  choice = $("#artworkFilter").val();
  category = $("#categoryFilter").val();
  window.location.href = "/"+choice+"/"+category+"/";
});





</script>
{% endblock %}
