{% extends "layout.html" %}
{% load custom_templatetags_art %}
{% block title %} Drop art {% endblock %}

{% block body %}
<!-- Page Content -->
<!--Carousel Wrapper-->
<body>
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="https://i.ibb.co/T86jC3J/2-880x385.jpg"
        alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>Discover the creative universe of our artists.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://i.ibb.co/Pz3dyt0/1-880x385.jpg"
        alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>We selects talented artists from all over the world, for you.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://i.ibb.co/DpsRj7c/3-880x385.jpg"
        alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>

<!--/.Carousel Wrapper-->
<h1 class="display-3 text-center ">Our current favorites</h1>
<div class="card-columns">
  {% for artwork in Artworks %}

  <!--Card-->
  <div id="art_item" class="card card-cascade card-ecommerce narrower mt-2 ">
    <!--Card image-->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="{{ artwork.artwork_photo.url }}"
      alt="artwork">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body card-body-cascade ">
      <!--Category & Title-->
      <h4 class="card-title text-center"><strong><a href="{% url 'artDetail_page' artwork.id %}">{{ artwork.artwork_name }}</a></strong></h4>
      <!--Description-->
      <p class="card-text">{{artwork.artwork_description }}</p>
      <!--Card footer-->
      <div class="card-footer mb-2">
        <span class="float-left">
          <a class="" data-toggle="tooltip" data-placement="top" title="Add a commint"><img class="rounded-circle article-img"  src="{{ artwork.artist.user.userprofile.image.url }}"></a>
        </span>
        <span class="float-left ml-3">
          <a href="#">{{ artwork.artist.user.username }}</a>
        </span>
        <span class="float-right" >
            <form id = "form-id"  >
                {% csrf_token %}
                <a class="like_button button"type="submit" onclick="{% if user.is_authenticated %}like_button({{artwork.id}}){% endif %}" onload="heart_sign_color()" > <i id="heart_sign_color_{{artwork.id}}"class="fas fa-heart {%isLiked artwork.id user.id%}" ></i></a>
            </form>
        </span>
        <span class="float-right" >
        <p id="like_count_{{artwork.id}}"class= "mr-1">{{artwork.artwork_likes.count}}</p>
        </span>
        <span class="float-right">
          <a  class="" data-toggle="tooltip" data-placement="top" title="Add a comment"><i class="far fa-comments mr-3"></i></a>
        </span>

      </div>
    </div>
    <!--/.Card content-->
  </div>
  <!--/.Card-->

  {% endfor %}


</div>

</body>
<!--/.Card-->
<!--Page navigation-->
<nav aria-label="Page navigation example">
  <ul class="pagination pg-blue justify-content-center">
    <li class="page-item ">
      {% if page_obj.has_previous %}
      <li class="page-item"><a href="?page=1"class="page-link" >First</a></li>
      <li class="page-item"><a href="?page={{page_obj.previous_page_number }}"class="page-link" >Previous</a></li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item"><a href="?page={{num}}" class="page-link text-success" >{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <li class="page-item"><a href="?page={{num}}" class="page-link" >{{ num }}</a></li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item"><a href="?page={{page_obj.next_page_number}}"class="page-link">Next</a></li>
      <li class="page-item"><a href="?page={{page_obj.paginator.num_pages}}"class="page-link" >Last</a></li>
      {% endif %}
    </li>

  </ul>
</nav>
<!--/Page navigation-->


<!-- /.container -->
{% endblock %}

{% block javascript %}


<script>

  function like_button(id){
    var post_url ="{% url 'home_page' %}"
    $.ajax({
      type: 'POST',
      url: post_url,
      data: {
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        'id':id,
      },
      success: LikePost,
      dataType: 'html'
    });
    function LikePost(data) {
      var data = $.parseJSON(data)
      if (data['liked']) {
        $('#heart_sign_color_'+data['art_pk']).addClass('text-danger')
        $('#like_count_'+data['art_pk']).text(data['like_count'])
      }
      else
      {
        $('#heart_sign_color_'+data['art_pk']).removeClass('text-danger')
        $('#like_count_'+data['art_pk']).text(data['like_count'])
      }
    };
  };


</script>
{% endblock %}
