{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %} Registration {% endblock %}

{% block body %}
  {% if user.is_authenticated %}
  <h1 class="mt-4 h4">You're already logged in.</h1>
  {% else %}
    <form method="POST" class="mt-5">
      {% csrf_token %}
      <fieldset class="form-group">
          {% if form.errors %}
          {% with form.get_user as user %}
            {% if user %}
              {# the user is inactive #}
            {% else %}
              {# no user matching username/password #}
            {% endif %}
          {% endwith %}
        {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
      </fieldset>
        <button class="btn btn-outline-info" type="submit">Login</button>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Need an account? <a class="ml-2" href="{% url 'register_page' %}">Sign up</a>
        Forgot your password? <a class="ml-2" href="{% url 'password_reset' %}">Reset password</a>
      </small>
    </div>
    {% endif %}
{% endblock body %}
{% block javascript %}
<script>
$("#login_page").parent().addClass("active")
</script>
{% endblock %}
