{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock %}

{% block body %}
  <div class="container row">
    <div class="border-bottom col-lg-2 col-md-3 col-sm-3  mt-5 pb-3 ">
      <img class="rounded-circle account-img prifile-pic"  src="{{ user.userprofile.image.url }}">
      </div>
      <div class=" border-bottom col-lg-10 col-md-9 col-sm-9 mt-sm-5 ">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>

    <div class="mt-5 col-lg-12 col-sm-12">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class=" mb-4 ">Update your profile information</legend>
          {{ user_update_form|crispy }}
          {{ profile_info_update_form|crispy }}
          {{ profile_photo_update_form }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
    {% if user.userprofile.user_role  == "artist" %}
      <div class="mt-5 col-lg-12 col-sm-12 border-top ">
        <div class="form-group">
          <h2 class="mt-3 mb-5 text-center">To upload a new artwork please <a href="{% url 'upload_art' %}" class="badge badge-primary">Click here</a></h2>
          </div>
      </div>
    {% endif %}
  </div>
{% endblock body %}
