{% extends "layout.html" %}
{% block title %} approve application {% endblock %}
{% block body %}
<div class="content-section mt-4 mb-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 mt-4">Approve application</legend>
                <h2>Are you sure you want to approve this application of {{ object.applicant.user.username }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Approve</button>
                <a class="btn btn-outline-secondary" href="{% url 'administrator' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock body %}